.result {
	position: absolute;
	width: 1280px;
	height: 720px;
	background-color: #f3f0f0;
	top: 0px;
}
.result .result__header {
	width: 1280px;
	height: 48px;
	display: flex;
	background-color: #00d1b2;
}
.result__header button {
	margin-left: 28px;
	width: 50px;
	height: 48px;
	background: url("./searchW.png") no-repeat center;
	background-size: 100%;
	border: none;
}
.result__header input {
	margin-left: 10px;
	margin-top: 7px;
	width: 262px;
	height: 33px;
	opacity: 0.8;
	border-width: 0px;
	border-radius: 50px;
}
.result__header h3 {
	margin-left: 180px;
	font-family: Noto Sans SC;
	font-style: normal;
	font-weight: bold;
	font-size: 36px;
	color: #ffffff;
	line-height: 144%;
}
.result .result__topTenList {
	margin-top: 11px;
	margin-left: 25px;
	width: 1232px;
	height: 136px;
	display: flex;
	justify-content: center;
	background-color: #ffffff;
	position: relative;
}

.result__topTenList .box {
	width: 212px;
	height: 136px;
	position: relative;
}
.result__topTenList .box:not(:last-child) {
	margin-right: 12px;
}
.result__topTenList .box img {
	width: 100%;
	height: 100%;
	vertical-align: middle;
}
.result__topTenList .box__text {
	position: absolute;
	bottom: 0;
	width: 212px;
	height: 24px;
	background: rgba(0, 0, 0, 0.5);
	text-align: center;
}
.result__topTenList .box__text h3 {
	font-family: Noto Sans SC;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	color: #ffffff;
}
.result__topTenList #leftMove {
	width: 40px;
	height: 40px;
	position: absolute;
	cursor: pointer;
	left: 4px;
	top: 50px;
}
.result__topTenList #rightMove {
	width: 40px;
	height: 40px;
	position: absolute;
	right: 4px;
	top: 50px;
	cursor: pointer;
}
.result__topTenList #photo {
	margin-bottom: 3px;
	margin-right: 12px;
	width: 212px;
}
.result .result__flex {
	display: flex;
}
.result .filter__flex {
	width: 143px;
	height: 503px;
	margin-left: 25px;
	margin-top: 11px;
	display: flex;
	flex-direction: column;
	background-color: #ffffff;
}
.filter__flex .filter__num {
	margin-top: 12px;
	width: 142px;
	height: 24px;
	font-family: Noto Sans SC;
	font-style: normal;
	font-size: 12px;
	color: #000000;
	text-align: center;
	line-height: 144%;
	letter-spacing: 0.08em;
}
.filter__flex .filter__distance {
	margin-top: 8px;
	width: 142px;
	height: 59px;
	font-family: Noto Sans SC;
	font-style: normal;
	font-size: 12px;
	font-weight: bold;
	color: #000000;
	text-align: center;
	line-height: 144%;
	letter-spacing: 0.08em;
}
.filter__flex .switch {
	position: absolute;
	top: 252px;
	left: 57px;
	width: 16px;
	height: 16px;
	text-align: center;
	border-radius: 20px;
	cursor: pointer;
}

.filter__flex .radio__check .switch {
	background-color: #00d1b2;
	border: none;
}
.filter__flex .radio .switch {
	background-color: transparent;
	border: 1px solid #00d1b2;
}

.filter__flex .distance__input {
	position: absolute;
	width: 64px;
	height: 20px;

	border-radius: 20px;
	border-width: 0px;
	top: 279px;
	left: 44px;
	text-align: center;
}
.filter__flex .distance__input:focus {
	outline: none;
}
.filter__flex .radio__check .distance__input {
	border: 1px solid #00d1b2;
	background-color: transparent;
}
.filter__flex .radio .distance__input {
	background-color: #00d1b2;
}
.filter__distance span {
	font-weight: normal;
}
.filter__flex .filter__area {
	margin-top: 2px;
	width: 142px;
	height: 25px;
	font-family: Noto Sans SC;
	font-style: normal;
	font-size: 12px;
	font-weight: bold;
	color: #000000;
	text-align: center;
	line-height: 144%;
	letter-spacing: 0.08em;
}
.filter__flex .filter__select {
	margin-left: 20px;
	margin-right: 25px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 98px;
	height: 294px;
	font-family: Noto Sans SC;
	font-style: normal;
	font-size: 12px;
	color: #000000;
	line-height: 144%;
	letter-spacing: 0.08em;
	list-style: none;
}


.filter__select a {
	font-weight: normal;
	cursor: pointer;
	width: 45px;
	height: 10px;
	padding: 5px;
}
.filter__select a.active {
background: #00D1B2;
color: #fff;
opacity: 0.95;
border-radius: 25px;
}
.filter__flex .filter_score {
	margin-top: 13px;
	width: 143px;
	height: 56px;
	font-family: Noto Sans SC;
	font-style: normal;
	font-size: 12px;
	font-weight: bold;
	color: #000000;
	text-align: center;
	line-height: 144%;
	letter-spacing: 0.08em;
	position: relative;
}
.filter_score span {
	color: #00d1b2;
}
.filter_score .range__input {
	width: 120px;
	height: 20px;
	position: absolute;
	left: 12px;
}
.filter_score .range__input input {
	position: absolute;
	width: 48px;
	height: 20px;
	border: 1px solid #00d1b2;
	box-sizing: border-box;
	border-radius: 20px;
	font-family: Noto Sans SC;
	font-style: normal;
	font-size: 12px;
	font-weight: bold;
	color: #00d1b2;
	text-align: center;
}
.filter_score .range__input input:focus {
	outline: none;
}
.filter_score .range__input .min {
	top: 0;
	left: 0;
}
.filter_score .range__input .max {
	right: 0;
	top: 0;
}
.filter_score .range__input .line {
	position: absolute;
	left: 46px;
	top: 9px;
	width: 24px;
	height: 0px;
	border: 2px solid #00d1b2;
}
/* .result .result__hospital{
	display: flex;
	flex-direction: column;
}
.result .hospitalInfoBox{
	margin-top: 33px;
	margin-left: 19px;
	width: 560px;
	height: 400px;
	display: flex;
	justify-content: space-between;
}
.hospitalInfoBox .hospitalInfo1{
	margin-right: 16px;
	display: flex;
	flex-direction: column;
	width: 176px;
	height: 400px;
	
}
.hospitalInfoBox .hospitalInfo2{
	margin-right: 16px;
	display: flex;
	flex-direction: column;
	width: 176px;
	height: 400px;
	
}
.hospitalInfoBox .hospitalInfo3{
	display: flex;
	flex-direction: column;
	width: 176px;
	height: 400px;
	
}
.hospitalInfoBox .info__top{
	width: 176px;
	height: 25px;
	background-color: #00d1b2;
	border-top-left-radius: 25px;
	border-top-right-radius: 25px;
}
.hospitalInfoBox .info__background{
	background-color: #FFFFFF;
	height: 375px;
}
.hospitalInfoBox img{
	width: 176px;
	height: 112px;
}
.hospitalInfoBox .info__text{
	margin-top: 8px;
	margin-left: 15px;
	width: 150px;
	height: 104px;
	font-family: Noto Sans SC;
	font-style: normal;
	font-size: 16px;
	font-weight: bold;
	color: #000000;
	text-align: center;
	line-height: 144%;
	letter-spacing: 0.18em;
}
.info__text .sub1{
	font-size: 12px;
	font-weight: 600;
}
.info__text .sub2{
	font-size: 8px;
	font-weight: 400;
	letter-spacing: 0em;
}
.hospitalInfoBox .info__detail{
	margin-top: 2px;
	margin-left: 44px;
	width: 88px;
	height: 16px;
	font-family: Noto Sans SC;
	font-style: normal;
	font-size: 12px;
	font-weight: 600;
	color: #000000;
	text-align: center;
	line-height: 144%;
	letter-spacing: 0.18em;
	border-radius: 5px;
	border-color: #00d1b2;
	border-style: solid;
}
.result__hospital .hospital__button{
	margin-left: 159px;
	margin-top: 21px;
	width: 280px;
	height: 56px;
	border-radius: 50px;
	display: flex;
	justify-content: space-between;
	background-color: #FFFFFF;
}
.hospital__button .leftMove{
	margin-left: 20px;
	margin-top: 8px;
	width: 40px;
	height: 40px;
}
.hospital__button .rightMove{
	margin-right: 20px;
	margin-top: 8px;
	width: 40px;
	height: 40px;
}
.hospital__button .hospital__page{
	font-family: Noto Sans SC;
	font-style: normal;
	font-size: 24px;
	font-weight: bold;
	color: #000000;
	text-align: center;
	line-height: 56px;
	letter-spacing: 0.18em;
} */
